{
  "env": {
    "production": {
      "presets": ["env", "react"],
      "plugins": ["transform-flow-strip-types", "syntax-object-rest-spread", "transform-class-properties"]
    },
    "development": {
      "presets": ["env", "react"],
      "plugins": ["transform-flow-strip-types", "syntax-object-rest-spread", "transform-class-properties"]
    },
    "es": {
      "presets": [["env", { "modules": false }], "react"],
      "plugins": ["transform-flow-strip-types", "syntax-object-rest-spread", "transform-class-properties"]
    }
  }
}
