{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 4 versions", "not ie <= 9"],
        "node": "current"
      },
      "modules": false
    }],
    "stage-0"
  ],
  "plugins": ["transform-flow-strip-types"]
}
