.Home__home--hWrjv {
  background: #141414;
  border: 1px solid rgb(30,30,30);
  box-sizing: border-box;
  padding: 10px;
  display: block !important;
}

.Home__title--33IGt {
  color: rgb(255, 44, 49);
  font-size: 34px;
  text-align: center;
}

.Home__content--319uD {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.Home__caption--1IeKt {
  color: rgb(150, 44, 49);
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #2A0C0C;
}

.Home__nico--37MtL {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: pink;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.Home__nico--37MtL:hover {
  text-decoration: underline;
}