.list {
  background: #141414;
  border: 1px solid rgb(30,30,30);
  box-sizing: border-box;
  display: block !important;
}

.row {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 33.33%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin: 0px;
}
.row:hover {
  opacity: 0.7;
}
.row:active {
  opacity: 0.5;
}
.avatar {
  width: 75px;
  height: 75px;
  border-radius: 35px;
  color: #fff;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title {
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(4,10,40,0.6);
  z-index: 1;
  background: rgba(253, 203, 140, .5);
  padding: 5px;
}
.gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(2,5,10,0.8) 69%, rgba(2,5,10,0.8) 69%, rgba(2,5,10,0.99) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(2,5,10,0.8) 69%, rgba(2,5,10,0.8) 69%, rgba(2,5,10,0.99) 100%);
  z-index: 0;
}
.by {
  position: absolute;
  bottom: 5px;
  left: 6px;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 1px #000;
}

