body {
  margin: 0;
  background: rgb(27, 32, 34);
}

.App__app--3LuPb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

.Switcher__switcher--2LNIO {
  position: relative;
  margin: 0 10px;
  height: calc(100vh - 220px);
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-height: 700px) { 
  .Switcher__switcher--2LNIO {
    height: calc(100vh - 20px);
  }
}

.Switcher__switcher--2LNIO > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: #23282A;
  border: 1px solid rgba(40, 40, 50, 1);
  box-sizing: border-box;
  color: white;
}

.Switcher__spinner--1Awb2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Switcher__spinner--1Awb2 > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: #141414;
  border: 1px solid rgb(30,30,30);
  box-sizing: border-box;

  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #373737;
  background: -webkit-linear-gradient(left, #373737 10%, rgba(55,55,55,0) 42%);
  background: linear-gradient(to right, rgb(67, 170, 217) 10%, rgba(55,55,55,0) 42%);
  position: relative;
  -webkit-animation: Switcher__load3--3Kh8F 1.4s infinite linear;
  animation: Switcher__load3--3Kh8F 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.Switcher__spinner--1Awb2 > div:before {
  width: 50%;
  height: 50%;
  background: rgb(67, 170, 217);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.Switcher__spinner--1Awb2 > div:after {
  background: rgb(49, 71, 79);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes Switcher__load3--3Kh8F {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes Switcher__load3--3Kh8F {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes Switcher__load3--3Kh8F {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/** NEXT TRANSITION **/

.next .fade-enter {
  transform: translateX(100%); 
  opacity: 0; 
}

.next .fade-enter-active {
  transform: translateX(0%); 
  opacity: 1;
  transition: all 500ms;
}

.next .fade-leave {
  transform: translateX(0%); 
  opacity: 1; 
}

.next .fade-leave-active {
  transform: translateX(-100%); 
  opacity: 0; 
  transition: all 500ms;
}



/** BACK TRANSITION **/

.back .fade-enter {
  transform: translateX(-100%); 
  opacity: 0; 
}

.back .fade-enter-active {
  transform: translateX(0%); 
  opacity: 1; 
  transition: all 500ms;
}

.back .fade-leave {
  transform: translateX(0%); 
  opacity: 1; 
}

.back .fade-leave-active {
  transform: translateX(100%); 
  opacity: 0; 
  transition: all 500ms;
}

/* ADMIN PANEL */

.Switcher__admin--24A93 {
  text-align: center;
  padding-top: calc((100vh - 380px)/2);
}

.Switcher__admin--24A93:before {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  content: 'ADMIN PANEL';
  font-size: 32px;
  color: rgb(70,70,70);
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.Switcher__admin--24A93:after {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  content: '\1F396   CONGRATS: LEVEL 2 UNLOCKED!';
  font-size: 26px;
  color: rgb(86, 160, 214);
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.Switcher__login--WY46z {
  text-align: center;
  padding-top: calc((100vh - 380px)/2);
  color: red !important;
  font-size: 26px;
  text-shadow: 1px 1px 1px #000;
}

/* NOT FOUND */

.Switcher__notFound--VyF3e {
  background: #141414;
  border: 1px solid rgb(30,30,30);
  box-sizing: border-box;
  padding: 10px;
  color: red !important;
  font-size: 32px;
  text-shadow: 1px 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}.Sidebar__sidebar--3GLl8 {
  width: 150px;
  margin-left: 5px;
  z-index: 2;
}
h2 {
  font-size: 11px;
  color: #646464;
  font-weight: normal;
  margin-top: 0px;
  text-shadow: 1px 1px 1px #2d2d2d;
}
.Sidebar__sidebar--3GLl8 a, .Sidebar__sidebar--3GLl8 span {
  display: block;
  color: white;
  background: rgb(35, 40, 42);
  border-radius: 4px;
  margin: 6px 0;
  padding: 10px;
  font-size: 0.875rem;
  line-height: 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease all;
}

.Sidebar__sidebar--3GLl8 .Sidebar__active--1fdDB {
  background-image: linear-gradient(270deg, #fed29d, #A58B66, #7abae8, #56a0d6);
  background-size: 720%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  transition: 0s ease all;
}
.Sidebar__sidebar--3GLl8 a:hover, .Sidebar__sidebar--3GLl8 span:hover {
  background: rgb(132, 112, 89);
}
.Sidebar__sidebar--3GLl8 .Sidebar__active--1fdDB a:hover, .Sidebar__sidebar--3GLl8 .Sidebar__span--3cUFl span:hover {
  background: rgb(254, 209, 158);
}

.Sidebar__sidebar--3GLl8 .Sidebar__active--1fdDB:hover {
  background: rgb(224, 179, 128);
}.DevTools__container--1k7mO {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: rgb(35, 40, 42);
  box-sizing: border-box;
  overflow: hidden;
}

@media (min-height: 700px) { 
  .DevTools__container--1k7mO {
    height: 200px;
  }
}

.DevTools__titleBar--2olyu {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0;
  background: rgb(53, 70, 79);
  border-top: 1px solid rgb(75, 96, 107);
  height: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.DevTools__titleBar--2olyu span {
  width: 100%;
  font-size: 10px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.DevTools__titleBar--2olyu span:nth-child(1) {
  color: rgb(260, 194, 117);
}
.DevTools__titleBar--2olyu span:nth-child(2) {
  color: rgb(173, 123, 162);
}
.DevTools__titleBar--2olyu span:nth-child(3) {
  color: rgb(93, 156, 204);
}
.DevTools__devTools--2LR_R {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: auto;
  height: 100%;
}
.DevTools__actionsBox--2rMQZ,
.DevTools__stateBox--3yFU5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10000px;
  padding: 0px 2px;
  width: 50%;
  overflow: hidden;
}
.DevTools__actionsBox--2rMQZ {
  color: rgb(243, 187, 87);
  border-right: 4px solid rgb(53, 70, 79);
}
.DevTools__stateBox--3yFU5 {
  color: rgb(93, 156, 204);
}