body {
  margin: 0;
  background: rgb(27, 32, 34);
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.more {
  margin-top: 50px;
  color: red;
  font-size:022px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.link {
  color: rgb(255, 44, 145);
  font-size: 26px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px rgb(20,30,20);
  text-decoration: none;
  background: rgba(65,50,50, .9);
  padding: 16px;
  -webkit-font-smoothing: antialiased;
  display: block;
}
.link:hover {
  color: white;
  background: rgb(255, 44, 145);
}
